<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>shoppers den</display-name>
  <servlet>
    <description></description>
    <display-name>customersignin</display-name>
    <servlet-name>customersignin</servlet-name>
    <servlet-class>mnc.vir.service.customersignin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>customersignin</servlet-name>
    <url-pattern>/servlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>customerregister</display-name>
    <servlet-name>customerregister</servlet-name>
    <servlet-class>mnc.vir.service.customerregister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>customerregister</servlet-name>
    <url-pattern>/servlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminsignin</display-name>
    <servlet-name>adminsignin</servlet-name>
    <servlet-class>mnc.vir.service.adminsignin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminsignin</servlet-name>
    <url-pattern>/servlet3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>productsinsert</display-name>
    <servlet-name>productsinsert</servlet-name>
    <servlet-class>mnc.vir.service.productsinsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>productsinsert</servlet-name>
    <url-pattern>/servlet4</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>displycart</display-name>
    <servlet-name>displycart</servlet-name>
    <servlet-class>mnc.vir.service.displycart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>displycart</servlet-name>
    <url-pattern>/servlet5</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>productdelete</display-name>
    <servlet-name>productdelete</servlet-name>
    <servlet-class>mnc.vir.service.productdelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>productdelete</servlet-name>
    <url-pattern>/servlet6</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>signin.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>searchproduct</display-name>
    <servlet-name>searchproduct</servlet-name>
    <servlet-class>mnc.vir.service.searchproduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchproduct</servlet-name>
    <url-pattern>/servlet7</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>signout</display-name>
    <servlet-name>signout</servlet-name>
    <servlet-class>mnc.vir.service.signout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signout</servlet-name>
    <url-pattern>/signout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>payment</display-name>
    <servlet-name>payment</servlet-name>
    <servlet-class>mnc.vir.service.payment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>payment</servlet-name>
    <url-pattern>/payment</url-pattern>
  </servlet-mapping>
</web-app>